---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import QRCard from '../../components/QRCard.astro';
import SocialMedia from '../../components/SocialMedia.astro';
import LayoutSec from '../../layouts/LayoutSec.astro';

const content = [
  {
    title: 'Instagram',
    link: 'https://www.instagram.com/capitileandstone/',
  },
  {
    title: 'Facebook',
    link: 'https://www.facebook.com/capitileandstone#',
  },
  {
    title: 'Website',
    link: '/',
  },
  {
    title: 'Our services',
    link: '/en/#services',
  },
  {
    title: 'Download our Flyer',
    link: '/en/#flyer',
  },
];
---
<LayoutSec>
	<section class="w-full flex flex-col justify-center items-center gap-4">
		<div class="w-full flex flex-col justify-center items-center gap-[3px]">
			<a href="/" aria-label="Ir a la página principal" title="Inicio - Capi Tile & Stone">
        <img src="/logo-4.svg" alt="Logo de Capi Tile & Stone - Servicio en Avondale, Arizona" width="1164" height="457" class="cursor-pointer w-auto h-[80px] ">
      </a>
			<div class="flex flex-col justify-center items-center ">
				<h1 class="text-[16px] font-bold leading-[175%]">@capitileandstone</h1>
				<div class="flex justify-center items-center gap-[3px] mt-[2px] mb-[11px]">
					<Icon name={'map'} class={"w-[9px] h-[11px]"}/>
					<p class="text-[10.5px] leading-[22px] font-heveltica">Ariona - USA</p>
				</div>
				<p class="text-[16px] font-medium text-center">Custom Tile & Stone Work in Arizona That Makes a Visible Impact</p>
			</div>
			<SocialMedia />
		</div>
    <div class="w-full flex flex-col justify-center items-center gap-3">
      {
        content.map((item) => (
          <a class="w-full" href={item.link}>
            <div class={`w-full bg-secondary py-[10px] h-[47px] rounded-[10px] text-white flex justify-center items-center ${item.title === "Download our Flyer" ? "animate-shake" : ""}`}>
              <p class="font-heveltica text-[14px] font-medium leading-[140%]">{item.title}</p>
            </div>
          </a>
          
        ))
      }
    </div>
    <div class="w-[236px] flex flex-col justify-center items-center gap-12 py-[34px] rounded-[15px] bg-[#eeeeee] mt-4">
      <QRCard url={"https://capi-tile-stone.vercel.app/connect"} label="Scan me for more info" />
    <QRCard url={"https://capi-tile-stone.vercel.app/review"} label="Give me a review" /> 
    </div>      
		<div class="flex  flex-col justify-center items-center gap-[9px] mt-[40px]">
          <p class="text-[12px] font-normal leading-[140%] text-[#878787]">Powered by</p>
          <a href="https://inkshapegroup.com/en/">
            <img src="/footer-logo.webp" alt="Imagen del Footer" width="3745" height="996" class="w-[110px]  h-[29px] cursor-pointer">
          </a>
        </div>
	</section>
</LayoutSec>