---
import CarouselServices from '../../components/CarouselServices.astro';

interface Props {
  carouselImages:string[]
}
const { carouselImages } = Astro.props as Props;
---

<section class="flex flex-col lg:flex-row justify-center items-center lg:items-stretch gap-7 pb-10 md:pb-[50px] max-w-screen md:max-w-[1100px] px-4 lg:px-0 w-full min-h-[660px] h-full">
  <div class="flex flex-col justify-center items-center gap-4 w-full max-w-[600px]">
    <CarouselServices images={carouselImages}/>
    <img src="/mockup.webp" alt="Mockup de Capi Tile" width="2383" height="1602" class="w-full h-auto rounded-[15px] max-w-[600px] hidden lg:block">
  </div>
  
  <div class="w-full lg:w-[484px] h-auto">
    <div class="form-container" id="form-Bz8yTCN1XgrIcpTXa573-wrapper" style="min-height:120px;">
      <div class="form-placeholder" style="display:flex;align-items:center;justify-content:center;">
        <small>Cargando formulario…</small>
      </div>
      <iframe
        data-src="https://link.capitileandstone.com/widget/form/Bz8yTCN1XgrIcpTXa573"
        style="width:100%;height:100%;border:none;overflow:hidden;display:none;"
        id="inline-Bz8yTCN1XgrIcpTXa573" 
        data-layout="{'id':'INLINE'}"
        data-trigger-type="alwaysShow"
        data-trigger-value=""
        data-activation-type="alwaysActivated"
        data-activation-value=""
        data-deactivation-type="neverDeactivate"
        data-deactivation-value=""
        data-form-name="Form General Website"
        data-height="874"
        data-layout-iframe-id="inline-Bz8yTCN1XgrIcpTXa573"
        data-form-id="Bz8yTCN1XgrIcpTXa573"
        title="Form General Website"
        loading="lazy"
        sandbox="allow-forms allow-scripts allow-popups allow-same-origin">
      </iframe>
    </div>
  </div>
</section>