@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import 'tailwindcss';

@theme {
  --font-family: 'Red Hat Text', 'NeueMontreal', sans-serif;
  --font-title: 'Titillium Web', sans-serif;
  --color-main: #0a2a59;
  --color-secondary: #c60500;
  --color-accent: #c60500;
  --color-blue: #0000c4;
  --color-blue-2: #4a5c70;
  --color-dark: #9b9b9b;
  --color-background: #d9d9d9;
  --color-background-dark: #787878;
  --color-paragraph: #424242;
  --breakpoint-xs: 25rem;
  --breakpoint-3xl: 106rem;
}

.shadow-div {
  box-shadow: 0px 13px 24.5px 0px rgba(0, 0, 0, 0.25);
}
.shadow-design {
  box-shadow: 0px 6px 14.4px 0px rgba(0, 0, 0, 0.25);
}
.gray-gradient {
  background: rgba(4, 35, 64, 0.2);
}
.service-bg {
  background: rgba(4, 35, 64, 0.32);
}
.slide-hidden {
  transform: translateX(100%);
  opacity: 0;
}
.slide-visible {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}
.shadow-item {
  box-shadow:
    0 75px 21px 0 rgba(0, 0, 0, 0),
    0 48px 19px 0 rgba(0, 0, 0, 0.01),
    0 27px 16px 0 rgba(0, 0, 0, 0.03),
    0 12px 12px 0 rgba(0, 0, 0, 0.04),
    0 3px 7px 0 rgba(0, 0, 0, 0.05);
}
/* Remove box-shadow on screens md and smaller (<=768px) */
@media (max-width: 48rem) {
  .shadow-item {
    box-shadow: none !important;
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}

.site-bg {
  background-image: url('/main/bg-gallery.webp');
  background-size: cover; /* ocupa toda la pantalla */
  background-position: center; /* ajustar como necesites */
  background-repeat: no-repeat;
  background-attachment: fixed; /* se queda fija al hacer scroll */
  min-height: 100vh;
}
