<div class="form-container" id="form-x9eP4ZmlZTr7JeNvHLfP-wrapper" style="min-height:120px;">
  <div class="form-placeholder" style="display:flex;align-items:center;justify-content:center;">
    <small>Cargando formulario…</small>
  </div>
  <iframe
    data-src="https://link.capitileandstone.com/widget/form/x9eP4ZmlZTr7JeNvHLfP"
    style="width:100%;height:100%;border:none;overflow:hidden;display:none;"
    id="inline-x9eP4ZmlZTr7JeNvHLfP" 
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-activation-type="alwaysActivated"
    data-deactivation-type="neverDeactivate"
    data-form-name="Form Have a Design Website"
    data-height="844"
    data-layout-iframe-id="inline-x9eP4ZmlZTr7JeNvHLfP"
    data-form-id="x9eP4ZmlZTr7JeNvHLfP"
    title="Form Have a Design Website"
    loading="lazy"
    sandbox="allow-forms allow-scripts allow-popups allow-same-origin"
  ></iframe>
</div>
